<!DOCTYPE html>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static 'base/style.css' %}">

<html>
<head>
<title>This is the home page</title>
</head>
<body>
  
<ul class="topnav">
    <li><a class="active" href="">About Me</a></li>
    <li><a href="projects">My Projects</a></li>
    <li class = "right"><a href="https://github.com/ottop/ottop_website" target="_blank" rel="noopener noreferrer">Website Source Code</a></li>
</ul>

<div class="row disp">
<div class="bio">
<img class = "profilepic" src="{% static 'base/images/profilepic.jpg' %}" alt="LigmaJ69" width="100%"><p class = "nametext">{{name}} </p> <p class="biotext">{{bio}}</p>
</div>
    <pre class = "info">{{info}}</pre>
</div>
<div class="row disp">
<div class = "content">
    <h1>Links to my Stuff</h1>
    <div class = "box">
    <ul>
        <li><a href="{{ghlink}}" target="_blank" rel="noopener noreferrer"><img class="social" src="{% static 'base/images/github-mark-white.svg' %}"></img>My GitHub</a></li>
        <li><a href="{{itchlink}}" target="_blank" rel="noopener noreferrer"><img class="social" src="{% static 'base/images/itchio-textless-white.svg' %}"></img>My Itch.io</a></li>
        <li><a href="{{gplink}}" target="_blank" rel="noopener noreferrer"><img class="social" src="{% static 'base/images/play.svg' %}"></img>My Google Play</a></li>
      </ul> 
    </div>
</div>

<div class = "content">
    <h1>Contact Me</h1>
    <div class = "box">
    <ul>
        <li style="margin-bottom:10px;"> <img class="social" src="{% static 'base/images/mail.svg' %}"><a href="{{emaillink}}">{{emailtext}}</a></li>
        <li><a href="{{lilink}}" target="_blank" rel="noopener noreferrer"><img class="social" src="{% static 'base/images/In-White-26.png' %}"></img>My LinkedIn</a></li>
      </ul> 
    </div>
</div>
</div>



</body>
</html>