<!DOCTYPE html>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static 'base/style.css' %}">

<html>
<head>
<title>About Me</title>
</head>
<body>
  
<ul class="topnav">
    <li><a class="active" href="">About Me</a></li>
    <li><a href="/projects">My Projects</a></li>
    <li><a href="/experience">My Experience</a></li>
    <li class = "right"><a href={{sourcelink}} target="_blank" rel="noopener noreferrer">Website Source Code</a></li>
</ul>

<div class="row disp">
<div class="bio">

<img class = "profilepic" src="{{image.url}}" alt="This should be an image." width="100%">
<p class = "nametext">{{name}} </p>
<p class="biotext">{{bio}}</p>

</div>

<pre class = "info">{{info}}</pre>

</div>

<div class="row disp">
<div class = "content">
    <h1>Links to my Stuff</h1>

    <div class = "box">
        <ul>

            {% for link in stufflinks %}

            <li><a href = {{link.thing_link}} target="_blank" rel="noopener noreferrer">{{link.thing_text}}</a></li>

            {% endfor %}

      </ul> 

    </div>
</div>

<div class = "content">
    <h1>Contact Me</h1>

    <div class = "box">
        <ul>
            {% for link in contactlinks %}

            <li><a href = {{link.contact_link}} target="_blank" rel="noopener noreferrer">{{link.contact_text}}</a></li>
            
            {% endfor %}

    </ul> 

    </div>
</div>
</div>

</body>
</html>