<!DOCTYPE html>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static 'base/style.css' %}">

<html>
<head>
<title>My Projects</title>
</head>
<body>
  
<ul class="topnav">
    <li><a href="/">About Me</a></li>
    <li><a class="active" href="/projects">My Projects</a></li>
    <li><a href="/experience">My Experience</a></li>
    <li class = "right"><a href="https://github.com/ottop/ottop_website" target="_blank" rel="noopener noreferrer">Website Source Code</a></li>
</ul>

<div class="row disp">
<div class = "content">
    <h1>My Projects</h1>
    
    <ul>
        {% for project in projects %}
        <li>
            <div class = "box">
        <h1 class="itemname">{{project.project_name}}</h1>
        <pre><p style="font-size:1.5em;line-height:1.1;color:#5e7694;">{{project.description}}</p></pre>
        <ul>
        {% for link in project.projects.all %}
        <li><a href = {{link}} target="_blank" rel="noopener noreferrer">{{link.link_text}}</a></li>
        {% endfor %}
        </ul>
    </div>
        </li>
        {% endfor %}
      </ul> 

</div></div>



</body>
</html>